<html>
<body>
<div class="bg">
  <div class="col-10 txt">
      <h1>Job Fills Your Pocket,But Adventures Fill Your Soul.</h1>
      <p class="lead">Travel To Different Places To Got Lot Of Adventures.Bring The Adventure To You By Providing Whatever Services You Need In Entire Tour</p>
  <div class="col text-center">
      <button class="btn btn-primary btn-lg btn1" routerLink="../login" (click)="setTitle('Login')">Login</button>
      <button class="btn btn-primary btn-lg btn2" routerLink="../signup" (click)="setTitle('SignUp')">SignUp</button>
  </div>
  </div>
</div>
</body>
</html>