.carousel-item img
{
    width: 100%;
    height:605px !important;
}
.carousel-indicators li
{
    width: 10px;
    height: 10px;
    border-radius:100%; 
}
.h1, h1 {
    font-size: 3vw;
}
.carousel .carousel-control-prev,.carousel-control-next,.carousel-caption,.carousel-indicators
{
   padding-right:3%; 
}