.container
{
    margin-top:2%; 
    font-size: .8rem;
}
h4,h1,button,.dropdown-menu
{
    font-size: .8rem;
}
.dbbtn
{
    padding-left: 5%;
    padding-right: 5%;
}
p,.rat
{
    font-size: .7rem;  
}
.card
{
    margin-bottom:30px; 
}