.container {
  margin-left:2%;
  margin-top:3%;  
  text-align: center;
  position: relative;
  width:100px;
  min-width:40%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius:100%; 
}
label
{
  font-size:18px; 
}